@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Rezervasyonlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="container-fluid">
    <script type="text/javascript">

        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7135/SignalRHub").build();

            $("#connstatus").text(connection.state);


            connection.start().then(() => {
                $("#connstatus").text(connection.state);

                setInterval(() => {
                    connection.invoke("GetBookingList");
                }, 5000);



            }).catch((err) => {
                console.log(err)
            });


            connection.on("ReceiveBookingList", (values) => {

                console.log(values);

                let tablehtml = `<table class="table table-hover table-bordered" >
                                 <tr>
                                    <th>#</th>
                                    <th>Ad Soyad</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                    <th>Kaç Kişilik</th>
                                    <th>Tarih</th>
                                    <th>Durum</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>İptal Et</th>
                                    <th>Onayla</th>
                                </tr>`

                $.each(values, (index, item) => {
                    tablehtml += ` <tr>
                                    <th>${index+1}</th>
                                    <td>${item.name}</td>
                                    <td>${item.phone}</td>
                                    <td>${item.email}</td>
                                    <td>${item.personCount}</td>
                                    <td>${item.bookingDate}</td>
                                    <td>${item.reservationStatus}</td>
                                             <td>
        <a href="/Booking/Delete/${item.bookingId}" class="btn btn-outline-danger btn-round"><i class="la la-trash"></i> Sil</a>   </td>
        <td><a href="/Booking/Update/${item.bookingId}" class="btn btn-outline-info btn-round"><i class="la la-pencil"></i> Güncelle</a>   </td>
        <td><a href="/Booking/Cancel/${item.bookingId}" class="btn btn-outline-danger btn-round"><i class="la la-times"></i> İptal Et</a>   </td>
        <td><a href="/Booking/Approve/${item.bookingId}" class="btn btn-outline-primary btn-round"><i class="la la-plus"></i> Onayla</a>   </td>
                                     
                                    </tr>`
                });

                tablehtml += `</table>`;

                $("#bookingList").html(tablehtml);

            });






        });




    </script>



    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Rezervasyonlar</h3>
        </div>
       
        <div class="table table-hover">
            <div id="bookingList">

                <h2 class="text-center">Yükleniyor ...</h2>
            </div>
            <a asp-controller="Booking" asp-action="Create" class="btn btn-outline-primary btn-round"><i class="la la-plus-circle"></i> Yeni Rezervasyon</a>



        </div>


    </div>

</div>



