@model CreateContactDto
@{
    ViewData["Title"] = "Yeni İletişim Bilgisi Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yeni İletişim Bilgisi Oluştur</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <label>Konum</label>
            <input type="text" asp-for="Location" class="form-control" />
            <br />
            <label>Telefon</label>
            <input type="text" asp-for="Phone" class="form-control" />
            <br />
            <label>Email</label>
            <input type="email" asp-for="Email" class="form-control" />
            <br />
            <label>Açıklama</label>
            <textarea type="text" asp-for="FooterDescription" class="form-control" rows="5" ></textarea>
            <br />
            <button type="submit" class="btn btn-outline-primary btn-round">Kaydet</button>
        </form>
    </div>
</div>

