@model List<ResultFeatureDto>
@{
    int count = 0;
}
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                count++;

                <div class="carousel-item @(count==1 ? "active" : "")">
                    <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    @item.Title
                                </h1>
                                <p>
                                    @item.Description
                                </p>
                                <div class="btn-box">
                                    <a href="/Menu/Index" class="btn1">
                                       Sipariş Ver
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
           
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>