<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Erhan Gündüz
						<span class="user-level">Yönetim Paneli</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profil</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a asp-controller="Statistics" asp-action="Index">
					<i class="la la-dashboard"></i>
					<p>İstatistikler</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="AdminAbout" asp-action="Index">
					<i class="la la-user"></i>
					<p>Hakkımızda</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="MenuTable" asp-action="Index">
					<i class="la la-list"></i>
					<p>Masalar</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="MenuTable" asp-action="TableListByStatus">
					<i class="la la-list"></i>
					<p>Anlık Masa Durumları</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Category" asp-action="Index">
					<i class="la la-list"></i>
					<p>Kategoriler</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Product" asp-action="Index">
					<i class="la la-shopping-cart"></i>
					<p>Ürünler</p>

				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Booking" asp-action="Index">
					<i class="la la-file"></i>
					<p>Rezervasyonlar</p>

				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="AdminContact" asp-action="Index">
					<i class="la la-phone"></i>
					<p>İletişim Bilgileri</p>

				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Discount" asp-action="Index">
					<i class="la la-flag-o"></i>
					<p>İndirimler</p>

				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Feature" asp-action="Index">
					<i class="la la-folder-open"></i>
					<p>Öne Çıkan Bilgisi</p>

				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="SocialMedia" asp-action="Index">
					<i class="la la-linkedin"></i>
					<p>Sosyal Medya</p>

				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Testimonial" asp-action="Index">
					<i class="la la-quote-left"></i>
					<p>Referanslar</p>

				</a>
			</li>
			

		</ul>
	</div>
</div>