@model CreateAboutDto
@{
    ViewData["Title"] = "Yeni Hakkımızda Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yeni Hakkımızda Oluştur</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
            <br />
            <label>Açıklama</label>
            <textarea type="text" asp-for="Description" class="form-control" rows="5" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <br />
            <label>Resim URL</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
            <br />
            <button type="submit" class="btn btn-outline-primary">Kaydet</button>
        </form>
    </div>
</div>

