
@{
    ViewData["Title"] = "Hata 404";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}




<body class="sub_page">

    </div>
    <br />
    <div class="container text-align-center text-center">
    <h1> Hata 404</h1>
    <h2>Aradığınız sayfa bulunamadı</h2>
    </div>

</body>
