@model UpdateProductDto
@{
    ViewData["Title"] = "Ürün Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Güncelle</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="ProductId" />
            <label>Ürün Adı</label>
            <input type="text" asp-for="ProductName" class="form-control" />
            <br />
            <label>Kategori</label>
            <select asp-items="@ViewBag.categories" asp-for="CategoryId" class="form-control">
                <option>Kategori Seçin</option>
            </select>
            <br />
            <label>Açıklama</label>
            <textarea type="text" asp-for="Description" class="form-control" rows="5"></textarea>
            <br />
            <label>Fiyat</label>
            <input type="number" asp-for="Price" class="form-control" />
            <br />
            <label>Resim URL</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
            <br />
            <button type="submit" class="btn btn-outline-info btn-round">Güncelle</button>
        </form>
    </div>
</div>

