
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_AdminLayoutHeader")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_AdminLayoutNavbar")
		@await Component.InvokeAsync("_AdminLayoutSidebar")
	
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					
					@RenderBody()
				</div>
			</div>
			@await Component.InvokeAsync("_AdminLayoutFooter")
		</div>
	</div>
	</div>
	<!-- Modal -->


@await Component.InvokeAsync("_AdminLayoutScripts")
</body>
</html>
